In [1]:
import seaborn as sns
import metapack as mp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display 

%matplotlib inline
sns.set_context('notebook')
mp.jupyter.init()

In [2]:
pkg = mp.jupyter.open_package()
#pkg = mp.jupyter.open_source_package()
pkg

# Demosearch Census Extract
`civicknowledge.com-census-demosearch-2.1.1` Last Update: 2021-05-08T00:44:35

_Extract of select census variables for demographic radius searches_


## Building the package

Because the package can spend a long time downloading census data, a Jupyter notebook
will time out. So, to build this package:

1. Run `invoke build` to build CSV files in the data directory. Use `--force` to overwrite existing files.
2. Run `mp build` to build the package




## Contacts

* **Wrangler** [Eric Busboom](mailto:eric@civicknowledge.com), [Civic Knowledge](http://civicknowledge.com)

## Resources

* ** [tracts](data/tracts.csv)**. US Census tracts
* ** [census](data/census.csv)**. US Census estimates, for tracts

## References
<ul><li> <strong>us_states</string>, <em>censusgeo://2019/5/US/state</em>. US States geographic boundaries</li><li> <strong>us_tracts_template</string>, <em>censusgeo://2019/5/{st}/tract</em>. Template URL for US tracts</li><li> <strong>B01001</string>, <em>census://2019/5/US/tract/B01001</em>. Sex by age</li><li> <strong>B01002</string>, <em>census://2019/5/US/tract/B01002</em>. Median Age by Sex</li><li> <strong>B11009</string>, <em>census://2018/5/US/tract/B11009</em>. Coupled Households by Type</li><li> <strong>B15003</string>, <em>census://2019/5/US/tract/B15003</em>. Educational Attainment</li><li> <strong>B25013</string>, <em>census://2019/5/US/tract/B25013</em>. Tenure by Educational Attainment of Householder</li><li> <strong>B19025</string>, <em>census://2019/5/US/tract/B19025</em>. Aggregate Household Income</li><li> <strong>B19313</string>, <em>census://2019/5/US/tract/B19313</em>. Aggregate Income</li><li> <strong>utm_bands</string>, <em>metapack+http://s3.amazonaws.com/radius.civicknowledge.com/civicknowledge.com-mgrs.csv#utm_bands</em>. UTM bands as polygons</li><li> <strong>utm_bands_buffered</string>, <em>metapack+http://s3.amazonaws.com/radius.civicknowledge.com/civicknowledge.com-mgrs.csv#utm_bands_buffered</em>. UTM band polygons, buffered by 10Km</li><ul>

In [3]:
pkg.resource('tracts').dataframe().head()

,geoid,tract_id,band,aland,awater,continential,geometry
0,14000US01055010700,0,16,87404337,2927199,1,POLYGON ((-85.98605639049218 34.04524542753277...
1,14000US01055001300,1,16,5083957,836213,1,POLYGON ((-86.00023252317561 34.00643752166131...
2,14000US01055000900,2,16,11932347,740907,1,POLYGON ((-86.07075460448519 34.00036152192895...
3,14000US01055001700,3,16,9118882,0,1,POLYGON ((-85.96883962799006 33.98832755920987...
4,14000US01055010501,4,16,50209675,7198559,1,"POLYGON ((-86.0733724599711 33.90698876366709,..."

In [4]:
pkg.resource('census').dataframe().head()

,geoid,total_population,male,female,households,households_unmaried,households_cohabiting,housing_occipies,housing_owned,housing_owned_college,housing_rented,housing_rented_college,over25_college,over25_high_school,agg_income,agg_hh_income,seniors
0,14000US01001020100,1993,907,1086,765,15,750,709,541,147,168,27,359,798,62231000,58707900,264
1,14000US01001020200,1959,1058,901,719,21,698,688,431,128,257,33,240,955,40718100,36164700,284
2,14000US01001020300,3507,1731,1776,1296,83,1213,1360,879,237,481,10,462,1668,86089300,82071900,562
3,14000US01001020400,3878,1949,1929,1639,49,1590,1675,1325,489,350,87,994,1629,125932600,123080000,949
4,14000US01001020500,10596,5256,5340,4174,27,4147,4483,2166,1098,2317,1055,2878,3373,414151800,403905900,1463