In [1]:
import seaborn as sns
import metapack as mp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display 

%matplotlib inline
sns.set_context('notebook')
mp.jupyter.init()

In [2]:
pkg = mp.jupyter.open_package()
#pkg = mp.jupyter.open_source_package()
pkg

# Demosearch Census Extract
`civicknowledge.com-census-demosearch-1.2.3` Last Update: 2021-02-22T00:01:16

_Extract of select census variables for demographic radius searches_






## Contacts

* **Wrangler** [Eric Busboom](mailto:eric@civicknowledge.com), [Civic Knowledge](http://civicknowledge.com)

## Resources

* ** [census_set](data/census_set.csv)**. Tract datasets combined into a single frame
* ** [agg_map](data/agg_map.csv)**. Description of which columns were aggregated together

## References
<ul><li> <strong>B01001</string>, <em>census://2019/5/US/tract/B01001</em>. Sex by age</li><li> <strong>B01002</string>, <em>census://2019/5/US/tract/B01002</em>. Median Age by Sex</li><li> <strong>B11009</string>, <em>census://2018/5/US/tract/B11009</em>. Coupled Households by Type</li><li> <strong>B26105</string>, <em>census://2018/5/US/tract/B26105</em>. Group Quarters Type (3 Types) by School Enrollment</li><li> <strong>B15001</string>, <em>census://2019/5/US/tract/B15001</em>. Sex by Age by Educational Attainment</li><li> <strong>income_quartiles</string>, <em>metapack+http://library.metatab.org/civicknowledge.com-income_dist-tract.csv#income_quartiles</em>. Estimtes of population in each income quartile per tract</li><ul>

In [3]:
pkg.resource('census_set').dataframe().head()

,geoid,total_population,male,female,households,households_unmaried,households_cohabiting,population_over_18,male_over_18,female_over_18,...,senior,male_18_44_college,female_18_44_college,lt25k,25k_50k,50k_75k,75k_120k,gt120k,gt50k,gt60k
0,14000US01001020100,1993,907,1086,765,15,750,1579,722,857,...,264,70,53,479.388741,153.092357,45.187612,20.839036,10.492254,76.518902,52.534009
1,14000US01001020200,1959,1058,901,719,21,698,1540,769,771,...,284,41,49,465.189638,148.557887,43.849192,20.221800,10.181482,74.252475,50.977994
2,14000US01001020300,3507,1731,1776,1296,83,1213,2700,1310,1390,...,562,49,152,919.560913,293.660939,86.678636,39.973326,20.126186,146.778148,100.770454
3,14000US01001020400,3878,1949,1929,1639,49,1590,3166,1581,1585,...,949,264,166,1132.547448,361.677994,106.754937,49.231854,24.787766,180.774558,124.110669
4,14000US01001020500,10596,5256,5340,4174,27,4147,7918,3798,4120,...,1463,607,793,3031.170274,968.001462,285.720826,131.765017,66.342421,483.828264,332.172018

In [4]:
pkg = mp.open_package('http://library.metatab.org/civicknowledge.com-census-demosearch.csv')
pkg

# Demosearch Census Extract
`civicknowledge.com-census-demosearch-1.2.3` Last Update: 2021-02-20T05:09:33

_Extract of select census variables for demographic radius searches_


## Documentation Links

* [Documentation Page](http://library.metatab.org/civicknowledge.com-census-demosearch-1.2.3/index.html)



## Contacts

* **Wrangler** [Eric Busboom](mailto:eric@civicknowledge.com), [Civic Knowledge](http://civicknowledge.com)

## Resources

* ** [census_set](http://library.metatab.org/civicknowledge.com-census-demosearch-1.2.3/data/census_set.csv)**. Tract datasets combined into a single frame
* ** [agg_map](http://library.metatab.org/civicknowledge.com-census-demosearch-1.2.3/data/agg_map.csv)**. Description of which columns were aggregated together

## References
<ul><li> <strong>B01001</string>, <em>census://2019/5/US/tract/B01001</em>. Sex by age</li><li> <strong>B01002</string>, <em>census://2019/5/US/tract/B01002</em>. Median Age by Sex</li><li> <strong>B11009</string>, <em>census://2018/5/US/tract/B11009</em>. Coupled Households by Type</li><li> <strong>B26105</string>, <em>census://2018/5/US/tract/B26105</em>. Group Quarters Type (3 Types) by School Enrollment</li><li> <strong>B15001</string>, <em>census://2019/5/US/tract/B15001</em>. Sex by Age by Educational Attainment</li><li> <strong>income_quartiles</string>, <em>metapack+http://library.metatab.org/civicknowledge.com-income_dist-tract.csv#income_quartiles</em>. Estimtes of population in each income quartile per tract</li><ul>

In [5]:
pkg

# Demosearch Census Extract
`civicknowledge.com-census-demosearch-1.2.3` Last Update: 2021-02-20T05:09:33

_Extract of select census variables for demographic radius searches_


## Documentation Links

* [Documentation Page](http://library.metatab.org/civicknowledge.com-census-demosearch-1.2.3/index.html)



## Contacts

* **Wrangler** [Eric Busboom](mailto:eric@civicknowledge.com), [Civic Knowledge](http://civicknowledge.com)

## Resources

* ** [census_set](http://library.metatab.org/civicknowledge.com-census-demosearch-1.2.3/data/census_set.csv)**. Tract datasets combined into a single frame
* ** [agg_map](http://library.metatab.org/civicknowledge.com-census-demosearch-1.2.3/data/agg_map.csv)**. Description of which columns were aggregated together

## References
<ul><li> <strong>B01001</string>, <em>census://2019/5/US/tract/B01001</em>. Sex by age</li><li> <strong>B01002</string>, <em>census://2019/5/US/tract/B01002</em>. Median Age by Sex</li><li> <strong>B11009</string>, <em>census://2018/5/US/tract/B11009</em>. Coupled Households by Type</li><li> <strong>B26105</string>, <em>census://2018/5/US/tract/B26105</em>. Group Quarters Type (3 Types) by School Enrollment</li><li> <strong>B15001</string>, <em>census://2019/5/US/tract/B15001</em>. Sex by Age by Educational Attainment</li><li> <strong>income_quartiles</string>, <em>metapack+http://library.metatab.org/civicknowledge.com-income_dist-tract.csv#income_quartiles</em>. Estimtes of population in each income quartile per tract</li><ul>

In [6]:
cs = pkg.resource('census_set').dataframe()
cs.head()

,geoid,total_population,male,female,households,households_unmaried,households_cohabiting,population_over_18,male_over_18,female_over_18,...,senior,male_18_44_college,female_18_44_college,lt25k,25k_50k,50k_75k,75k_120k,gt120k,gt50k,gt60k
0,14000US01001020100,1993,907,1086,765,15,750,1579,722,857,...,264,70,53,479,153,45,20,10,76,52
1,14000US01001020200,1959,1058,901,719,21,698,1540,769,771,...,284,41,49,465,148,43,20,10,74,50
2,14000US01001020300,3507,1731,1776,1296,83,1213,2700,1310,1390,...,562,49,152,919,293,86,39,20,146,100
3,14000US01001020400,3878,1949,1929,1639,49,1590,3166,1581,1585,...,949,264,166,1132,361,106,49,24,180,124
4,14000US01001020500,10596,5256,5340,4174,27,4147,7918,3798,4120,...,1463,607,793,3031,968,285,131,66,483,332